---
// import "./CalorieInfo.css";
---

<section class="macros">
	<div class="skew-divider skew-divider-top"></div>

	<div class="text_wrapper">
		<h2>What are macronutrients?</h2>
		<p>
			Macronutrients are the nutrients that your body needs in large amounts to
			function properly. They are carbohydrates, protein, and fat. Each
			macronutrient has a different role in your body:
		</p>
	</div>
	<div class="card_wrapper">
		<div class="card card_carbs card_macro">
			<div class="card_text">
				<h3>Carbohydrates</h3>
				<p>
					Carbohydrates are your body's main source of energy. They are found in
					foods such as bread, pasta, rice, fruits, and vegetables.
				</p>
			</div>
		</div>
		<div class="card card_protein card_macro">
			<div class="card_text">
				<h3>Protein</h3>
				<p>
					Protein is essential for building and repairing muscle tissue. It is
					also found in foods such as meat, poultry, fish, eggs, dairy products,
					and legumes.
				</p>
			</div>
		</div>
		<div class="card card_fat card_macro">
			<div class="card_text">
				<h3>Fat</h3>
				<p>
					Fat is a source of energy and helps your body absorb certain vitamins
					and minerals. It is also found in foods such as nuts, seeds, avocados,
					and olive oil.
				</p>
			</div>
		</div>
	</div>
	<div class="skew-divider skew-divider-bottom"></div>
</section>
<section class="reasons">
	<div class="skew-divider skew-divider-top"></div>

	<div class="text_wrapper">
		<h2>Why choose Smash-It personal training and lifestyle coaching?</h2>
	</div>
	<div class="card_wrapper">
		<div class="card card_reason">
			<svg
				width="22"
				height="25"
				viewBox="0 0 22 25"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
				class="card_icon"
			>
				<path
					d="M19.095 0.0699945C19.851 0.0699945 20.49 0.330994 21.012 0.852995C21.534 1.37499 21.795 2.01399 21.795 2.76999V21.67C21.795 22.39 21.534 23.02 21.012 23.56C20.49 24.1 19.851 24.37 19.095 24.37H2.89501C2.17501 24.37 1.54501 24.1 1.00501 23.56C0.465007 23.02 0.195007 22.39 0.195007 21.67V2.76999C0.195007 2.01399 0.465007 1.37499 1.00501 0.852995C1.54501 0.330994 2.17501 0.0699945 2.89501 0.0699945H19.095ZM19.095 21.67V2.76999H2.89501V21.67H19.095ZM12.345 14.92V16.27H5.59501V14.92H12.345ZM16.395 9.51999V10.87H10.995V9.51999H16.395ZM10.995 8.16999V5.46999H16.395V8.16999H10.995ZM9.64501 5.46999V10.87H5.59501V5.46999H9.64501ZM8.29501 12.22V13.57H5.59501V12.22H8.29501ZM9.64501 13.57V12.22H16.395V13.57H9.64501ZM16.395 17.62V18.97H5.59501V17.62H16.395ZM13.695 16.27V14.92H16.395V16.27H13.695Z"
					fill="black"></path>
			</svg>
			<div class="card_text">
				<p>
					Our personal trainers are certified and experienced, and they can help
					you create a personalized workout plan and meal plan to reach your
					fitness goals.
				</p>
			</div>
		</div>
		<div class="card card_reason">
			<div class="card_text">
				<svg
					width="25"
					height="25"
					viewBox="0 0 25 25"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
					class="card_icon"
				>
					<path
						d="M12.505 0.859955C15.709 0.859955 18.445 1.99396 20.713 4.26196C22.981 6.52996 24.115 9.26596 24.115 12.47C24.115 15.674 22.981 18.41 20.713 20.678C18.445 22.946 15.709 24.08 12.505 24.08C9.30099 24.08 6.56499 22.946 4.29699 20.678C2.02899 18.41 0.894989 15.674 0.894989 12.47C0.894989 9.26596 2.02899 6.52996 4.29699 4.26196C6.56499 1.99396 9.30099 0.859955 12.505 0.859955ZM13.477 21.866C15.709 21.614 17.617 20.696 19.201 19.112C20.785 17.528 21.685 15.62 21.901 13.388H16.717V11.498H21.901C21.685 9.26596 20.785 7.35796 19.201 5.77396C17.617 4.18996 15.709 3.27196 13.477 3.01996V8.25796H11.587V3.01996C9.35499 3.27196 7.43799 4.18996 5.83599 5.77396C4.23399 7.35796 3.32499 9.26596 3.10899 11.498H8.34699V13.388H3.10899C3.32499 15.62 4.23399 17.528 5.83599 19.112C7.43799 20.696 9.35499 21.614 11.587 21.866V16.628H13.477V21.866Z"
						fill="black"></path>
				</svg>

				<p>
					We offer a variety of services to help you define and achieve,
					including personal training, group fitness classes, and lifestyle
					coaching.
				</p>
			</div>
		</div>
		<div class="card card_reason">
			<svg
				width="28"
				height="25"
				viewBox="0 0 28 25"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
				class="card_icon"
			>
				<path
					d="M27.53 24.1H21.482V20.05C21.482 19.078 21.212 18.349 20.672 17.863C20.132 17.377 18.746 16.576 16.514 15.46C17.234 14.92 17.594 14.164 17.594 13.192C17.594 12.904 17.477 12.607 17.243 12.301C17.009 11.995 16.838 11.536 16.73 10.924C16.694 10.78 16.568 10.636 16.352 10.492C16.136 10.348 16.01 9.96998 15.974 9.35798C15.974 8.92598 16.082 8.65598 16.298 8.54798C16.19 7.93598 16.118 7.39598 16.082 6.92798C16.01 6.24398 16.217 5.54198 16.703 4.82198C17.189 4.10198 18.044 3.74198 19.268 3.74198C20.492 3.74198 21.356 4.10198 21.86 4.82198C22.364 5.54198 22.58 6.24398 22.508 6.92798L22.292 8.54798C22.508 8.65598 22.616 8.92598 22.616 9.35798C22.58 9.96998 22.454 10.348 22.238 10.492C22.022 10.636 21.896 10.78 21.86 10.924C21.752 11.536 21.581 11.995 21.347 12.301C21.113 12.607 20.996 12.904 20.996 13.192C20.996 13.948 21.185 14.542 21.563 14.974C21.941 15.406 22.634 15.838 23.642 16.27C25.658 17.098 26.828 17.818 27.152 18.43C27.26 18.574 27.341 19.123 27.395 20.077C27.449 21.031 27.494 21.94 27.53 22.804V24.1ZM14.354 17.026C17.63 18.43 19.268 19.546 19.268 20.374V24.1H0.530029V19.132C0.530029 18.34 1.28603 17.638 2.79803 17.026C4.16603 16.45 5.10203 15.874 5.60603 15.298C6.11003 14.722 6.36203 13.93 6.36203 12.922C6.36203 12.562 6.19103 12.166 5.84903 11.734C5.50703 11.302 5.28203 10.69 5.17403 9.89798C5.13803 9.71798 4.97603 9.51998 4.68803 9.30398C4.40003 9.08798 4.22003 8.58398 4.14803 7.79198C4.14803 7.53998 4.17503 7.33298 4.22903 7.17098C4.28303 7.00898 4.34603 6.89198 4.41803 6.81998L4.52603 6.76598C4.41803 5.93798 4.32803 5.19998 4.25603 4.55198C4.18403 3.65198 4.48103 2.72497 5.14703 1.77098C5.81303 0.816975 6.95603 0.339975 8.57603 0.339975C10.196 0.339975 11.339 0.816975 12.005 1.77098C12.671 2.72497 12.968 3.65198 12.896 4.55198L12.626 6.76598C12.878 6.90998 13.004 7.25198 13.004 7.79198C12.932 8.58398 12.752 9.08798 12.464 9.30398C12.176 9.51998 12.014 9.71798 11.978 9.89798C11.87 10.69 11.645 11.302 11.303 11.734C10.961 12.166 10.79 12.562 10.79 12.922C10.79 13.93 11.042 14.722 11.546 15.298C12.05 15.874 12.986 16.45 14.354 17.026Z"
					fill="black"></path>
			</svg>
			<div class="card_text">
				<p>
					We support you every step of the way, and we are committed to helping
					you achieve your goals.
				</p>
			</div>
		</div>
	</div>
	<div class="cta-wrapper">
		<a class="cta" href="https://www.smashit.co.za/contact" target="_blank">
			Enquire about Smash-It personal coaching</a
		>
	</div>
	<div class="skew-divider skew-divider-bottom"></div>
</section>

<style>
	section {
		--asym-border: 30px 6px 30px 6px;
		--skew-divider-size: 10vw;
		/* padding: 10rem var(--gutter) 12rem var(--gutter); */
		position: relative;
		/* overflow: hidden; */
		display: grid;
	}
	.macros {
		gap: 2rem;
		color: hsl(var(--bg-color));
		background: hsl(var(--bg-contrast) / 0.9);
		/* background: linear-gradient(185deg, yellow 10%, blue 40%); */
		background-image: url("../assets/images/food.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		background-blend-mode: lighten;
	}

	.skew-divider {
		position: absolute;
		z-index: 0;
		transform: skewY(-5deg);
		height: var(--skew-divider-size);
		width: 100vw;
	}
	.skew-divider-top {
		top: calc(var(--skew-divider-size) * -1);
		transform-origin: bottom right;
	}
	.skew-divider-bottom {
		bottom: calc(var(--skew-divider-size) * -1);
		transform-origin: top left;
	}
	
	.macros .skew-divider-top {
		background-color: hsl(var(--bg-color));
	}
	.macros .skew-divider-bottom {
		background-color: hsl(var(--bg-color));
	}
	.reasons .skew-divider-bottom {
		background-color: hsl(var(--accent-color) / .2);
	}


	.text_wrapper {
		max-width: 60ch;
	}

	h2 {
		/* font-size: 1.8em; */
		padding-bottom: 1em;
		max-width: fit-content;
	}

	h2,
	h3 {
		border-bottom: 2px solid hsl(var(--accent-color));
	}

	p {
		padding-block: 2em;
	}

	.macros .text_wrapper,
	.macros .card_wrapper {
		z-index: 5;
		color: inherit;
	}

	.card_wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 2em;
	}
	.card {
		--innerRadius: 30px;
		--padding: 2em;
		--outerRadius: calc(var(--innerRadius) + var(--padding));
		border-radius: var(--outerRadius) 6px;
		padding-block: var(--padding);
		padding-inline: var(--padding);
		position: relative;
		margin-inline: auto;
	}

	.card_macro {
		background-position: right;
		background-size: cover;
		background-repeat: no-repeat;
		overflow: hidden;
		background-blend-mode: multiply;
		/* border: 2px solid hsl(var(--accent-color) /.2); */
		box-shadow: 5px 5px 10px 0px hsl(var(--accent-color) / 0.3);
		flex-grow: 1;
	}

	.card_text {
		width: fit-content;
	}

	.card_macro .card_text {
		background-color: hsl(var(--bg-contrast) / 0.9);
		padding: 1em var(--padding);
		border-radius: var(--innerRadius) 6px;
	}

	.card h3 {
		/* font-size: 1.3em; */
		padding-bottom: 1em;
	}
	.card p {
		max-width: 20ch;
	}

	.card_carbs {
		background-image: url("../assets/images/rice.jpg");
	}
	.card_protein {
		background-image: url("../assets/images/bean.jpg");
	}
	.card_fat {
		background-image: url("../assets/images/avo.jpg");
	}

	.reasons {
		background-color: hsl(var(--bg-color));
		overflow: hidden;
	}

	.reasons .text_wrapper {
		color: hsl(var(--bg-contrast) / 0.9);
		z-index: 55;
	}

	.reasons .card_wrapper {
		padding-block: 6rem 3rem;
		gap: 3em;
	}

	.card_reason {
		color: hsl(var(--bg-contrast) / 0.9);
		box-shadow: 2px 2px 10px 0px hsl(var(--accent-color) / 0.4);
		border: 2px solid hsl(var(--accent-color) / 0.5);
		/* background-color: hsl(var(--bg-contrast)); */
		/* background: linear-gradient(-45deg, hsl(var(--accent-color)) 0%, hsl(var(--bg-contrast)) 20%, hsl(var(--bg-contrast)) 80%, hsl(var(--accent-color)) 100%); */
	}

	.card_reason .card_text {
		/* color: hsl(var(--bg-color)); */
		/* font-size: 1.3em; */
		line-height: 1.4;
	}

	.card_icon {
		position: absolute;
		top: -2em;
		right: -1em;
		height: 6em;
		width: auto;
		/* inset: 2em; */
	}
	.card_icon path {
		fill: hsl(var(--accent-color) / 0.8);
	}

	.cta-wrapper {
		display: grid;
		justify-content: center;
		align-items: center;
		/* padding: 4vw 2vw; */
		padding-block: 32px;
		/* z-index: 99; */
		/* outline: 1px solid blue; */
	}

	.cta {
		padding: 1rem 2rem;
		max-width: 30ch;
		/* border: 3px solid hsl(var(--bg-color) / 0.3); */
		border-radius: 20px 6px;
		background-color: hsl(var(--accent-color));
		font-size: clamp(1rem, 1rem + 0.5vw, 1.75rem);
		color: hsl(var(--bg-contrast));
		box-shadow: 2px 2px 10px 0px hsl(var(--accent-color) / 0.4);
		/* box-shadow: 3px 3px 3px 0px hsl(var(--accent-color) / 0.3); */
		transition: all 200ms ease-in-out;
		cursor: pointer;
		opacity: 1;
	}

	.cta:hover,
	.cta:focus-visible {
		box-shadow: 5px 5px 10px 0px hsl(var(--accent-color) / 0.5);
		transform: scale(1.01);
	}
</style>
