---
import './Footer.css'
---


	<footer class="footer">


			<section id="footer_left" class="footer_col footer_left">
				<h3 class="footer_col_title">Availability</h3>
				<div class="text_wrapper">
						<p>Mon, Tues, Thurs, 06:30 - 18:00</p>
						 <p>Wed - 06:30 - 16:30 - Date Night</p>
						 <p>Friday 06:30 to 14:00</p>
						 <p>Saturday - 10:00 to 12:00</p>
						 <p>Sunday - Digital Detox</p>
				</div>
				<span class="seperator extralight-border"></span>
			</section>

		

			<section id="footer_right" class="footer_col footer_right">
				<h3 class="footer_col_title">Where to next?</h3>
				<div class="text_wrapper">
					<p><a href="https://www.smashit.co.za/services">Services</a></p>
					<p><a href="https://www.smashit.co.za/about">Meet the team</a></p>
					<p><a href="https://www.smashit.co.za/blog">Blog</a></p>
					<p><a href="https://www.smashit.co.za/contact">Contact</a></p>
					<p><a href="https://www.smashit.co.za/faq">FAQ</a></p>
				</div>
			</section>

	</footer>


